weights/*
.idea/
config/__pycache__/
dataset/__pycache__/
motion_model/__pycache__
dataset/ua/__pycache__/
dataset/utils/__pycache__/
draw_utils/__pycache__/DrawBoxes.cpython-36.pyc
layers/__pycache__/
layers/ssdt/__pycache__/
layers/ssdt/models/__pycache__/
layers/ssdt/utils/__pycache__/
tools/__pycache__/
motion_model/__pycache__/motion_model.cpython-36.pyc
motion_model/__pycache__/motion_model_quadratic.cpython-36.pyc
draw_utils/__pycache__/
draw_utils/__pycache__/draw_utils.cpython-36.pyc
motion_model/__pycache__/motion_model_perspective.cpython-36.pyc
tools/ua_data_bboxes.csv
result/*
cvpr_data_bboxes.csv
dataset/cvpr19/__pycache__/
